.profile-btn {
    display: inline-block;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #333;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }
  
  .profile-btn:hover {
    background-color: #333;
    color: white;
  }
  